.giua{
    text-align: center;
}
.phai{
    text-align: right;
}
a:link{
    color:red
}
a:visited{
    color :blue   
}
a:hover {
    color: black;
  }
  
  
a:active {
    color: blue;
}
trl::first-letter{
    font-size: 40;
    color: purple;
}
a{
    text-decoration: none;
}
ul{
    text-decoration: underline;
    direction: ltr;
}
